@font: Raleway, Helvetica, 'Trebuchet MS', Tahoma, sans-serif;
@white: #fff;
@black: #000;
@mine-shaft: #222;
@gallery: #eee;
@ronchi: #ebb757;
@cornflower-blue: #578beb;
@anim-slow: 0.3s ease-in-out;
@anim-fast: 0.2s ease-in-out;

@sm: ~'only screen and (min-width: 600px)';
@md: ~'only screen and (min-width: 768px)';
@lg: ~'only screen and (min-width: 1440px)';
@hover: ~'(hover: hover)';
